html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #607d8b;
  font-family: "Bebas Neue", cursive;
}

.sidebar {
  background-color: #bdbdbd;
}

.meeting {
  width: 100%;
}

.meeting > h1 {
  padding: 12px;
}

h1, h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.meetings-selector {
  list-style: none;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.meetings-selector > .active {
  background-color: white;
}

.meetings-selector > .active:hover {
  background-color: white;
}

.meetings-selector > li {
  width: 100%;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.meetings-selector > li:hover {
  background-color: #616161;
}

.meetings-selector > li:first-child {
  margin-top: 0px;
}

.meeting-content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.meeting-content-column {
  width: 100%;
}

.meeting-content > .meeting-content-column:nth-of-type(2) {
  background-color: #e8c1a0;
}

.meeting-content > .asks {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: blue;
}

.asks-for-you {
  background-color: #009277;
}

.asks-for-them {
  background-color: #f47560;
}

.meeting-content > .asks > div {
  height: 100%;
}

.meeting-list {
  list-style: none;
  margin-block-start: 0px;
  padding-inline-start: 0px;
  padding: 12px;
}

.meeting-list-add {
  transform: translateX(-25%);
}

.meeting-list > li {
  text-align: left;
}

.meeting-list-input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0px;
  font: inherit;
  caret-color: white;
}

